.cover__title{
  font-family: 'Inter-Black';
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  margin: 0 0 32px;
}

@media only screen and (max-width: 768px){
  .cover__title {
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 320px){
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}