.intro__title {
  width: min(700px, 94vw);
  font-size: max(32px, min(7.1vw, 54px));
  font-weight: 900;
  line-height: max(35px, min(7.6vw, 58px));
  margin: 0 0 33px;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .intro__title {
    max-width: 100%;
  }
}
