.places {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media only screen and (max-width: 1024px) {
  .places {
    max-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .places {
    max-width: 94%;
  }
}

@media only screen and (max-width: 760px) {
  .places {
    max-width: 100%;
    margin-bottom: 66px;
  }
}