.cover__subtitle {
  font-family: "Inter";
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }

}

@media only screen and (min-width: 400px) {
  .cover__subtitle br {
    display: none;
  }
}