.place__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
  transition: 0.8s;
  margin-bottom: 6px;
}

.place__link:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .place__link {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .place__link {
    margin-bottom: 2px;
  }
}
