.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 33px;
  padding: 0;
}

@media only screen and (max-width: 760px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 100%;
  }
}